{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container p-5">
        <div class="container registro mb-3">
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="" class="p-3">
                {% csrf_token%}
                {{ form.as_p}}
                <input class="btn btn-outline-dark" type="submit" value="registrarme"/>  
            </form>
        </div>
    </div>
  
{% endblock %}
